<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <!-- This switch is only effective on .NET 4.7.2 with a servicing patch installed.
         When all our test machines have .NET 4.8 (or later) installed, we can remove this. -->
    <AppContextSwitchOverrides value="Switch.System.Threading.UseFewerAsyncLocalAllocations=true" />
  </runtime>
</configuration>
